

body
{
 font: 1em Verdana, Geneva, sans-serif;
 padding: 0;
 margin: 5px;
 color: Black;
 background-color: pink;
}
div
{
 padding: 0;
 margin: 0;
}
button
{
 cursor: pointer;
}
.hidden
{
 display: none;
}


#app
{
 margin: 4px;
 background-color: #bbc;
}
#app>header
{
 padding: 0 0.5em;
 font-size: 1.5em;
 color: WhiteSmoke;
 background-color: #006;
}
#app>footer
{
 padding: 0.25em;
 color: WhiteSmoke;
 background-color: #006;
}
#main
{
 margin: 1em;
}

#div>logo
{
position: relative;
	height: 100%;
	}
div#title
{
position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
font-family: 'Indie Flower', cursive;
	font-size: 2.8em;


}
.moreTask
{
border-radius:50%;

}

/* updates in style starts from here */
#task-list button {
	color: white;	
	border-radius: 100px;
	width: 30px;
	height: 30px;
	margin-left: 5px;
}
.move-up {
	background: green;
	margin-left: 10px;
}

.move-down{
	background: green;
}

.delete{
	background: red;	
}

.edit {
	background: blue;
	width: 40px !important;	
}

#task-list {
	list-style: none;
	padding-left: 0;
}

#task-list li {
	font-family: 'Times New Roman';
	font-size: 22px;
}

.task {
	float: left;
	min-width: 300px;
}






